nav
  ul.nav
    li 
      a(href="/overview") API Overview
    li 
      a(href="/overview") Purpose
    li 
      a(href="/endpoints") +Endpoints
      ul.nav
        li
          a(href="/endpoints/resources") Resources
        li
          a(href="/endpoints/objectives") Objectives
        li
          a(href="/endpoints/lists") Curated Lists
    li 
      a(href="/contrib") +Contributing
      ul.nav
        li
          a(href="/contrib/issues") Features and Bugs
        li
          a(href="/contrib/code") Code
    li
      a(href="/deploy") Deploy Your Own Piep