extend layout
block append content
  section#deploy
    h1 Deploy your own Piep
    p We'd like Piep to be a project that the whole community openly uses together. However, we recognize that there are situations where an organization would like to use Piep privately. To accomplish this, follow these steps:
    ol
      li
        p.
          Make sure that you have followed the instructions for installing the pre-requisite tools (git, node, grunt). You can find those instructions in the <a href="/contrib#installation"> Contributing: Installation docs </a>.
      li
        p.
          Next, you will need to go to <a href="http://www.github.com">Github</a> and fork the project to your personal Github account or organization.
        p. 
          Don't have a Github account? Make one at the <a href="http://www.github.com">Github website</a>.