extend layout
block append content
  section.banner
    .container
      img.logo(alt="piep!", src="/assets/logo.png")
      h2 A Package Manager for Education
      img(alt="built by bocoup", src="/assets/built_by.png")