doctype
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
      .container
    .container
      .row
        .col-md-3
          include includes/sidenav.jade
        .col-md-9
          block content
    include includes/footer.jade
    include includes/github.jade