extend layout
block append content
  section#purpose
    h1 Purpose

    p Piep's primary goal is to harmonize a standard format for structured educational materials. Through this work `piep` is aimed at supporting the development of an Open Education ecosystem where learning materials can be shared between different institutions, and inter operate with different educational software tools.

    p The building blocks of peip are `resources` (exercises, and other materials), `objectives` (student will be able to do x when they complete an exercise) and lists (groupings of related resources that a teacher may want to use in a class). Each `resource` has a single `objective` that it achieves, while `objectives` can be achieved by multiple `resources`.

    p The idea is that with common curriculum ontology, we'll be able to share materials more easily between our organizations. http://api.piep.io serves as a canonical learning materials store for teachers to browse, and for ed software developers to build against.

    