extend layout
block append content
  section#tools
    h1 Tools
    p Here you can find links to all the tools used in each element of the piep project.
    h2 API:
    ul
      li
        a(href="http://www.nodejs.org") Node
        p - A server-side javascript programming framework
      li
        a(href="http://www.expressjs.com") Express
        p - A server-side javascript http framework
      li
        a(href="http://bookshelfjs.org/") Bookshelf
        p - A javascript ORM
      li
        a(href="http://knexjs.org/") Knex
        p - A javascript SQL query builder
      li
        a(href="https://github.com/endpoints") Endpoints
        p - A javascript REST API library
      li
        a(href="https://github.com/endpoints") Grunt
        p - A javascript automation and build utility