@import 'nib';
global_reset();

/* SCHEMES AND COMPONENTS */

light_teal = #08bcc7;
dark_teal = #07abb5;
light_grey = #f3f3f3;
dark_grey = #8e8e8e;
light_yellow = #fedd70;
dark_yellow = #eeb172;

tiny_pad= 5px;
small_pad = 10px;
large_pad = 20px;

teal_scheme()
  background-color: light_teal;
  color: white;
  border-bottom: tiny_pad dark_teal solid;

grey_scheme()
  background-color: light_grey;
  color: dark_grey;

yellow_scheme()
  background-color: light_yellow;
  border-color: dark_yellow;
  color: dark_yellow;

button {
  padding: small_pad;
  border: none;
  border-bottom: black tiny_pad solid;
}

input {
  padding: small_pad;
  border: none;
  color: dark_grey;
}

img {
  display: block;
  margin: 0 auto;
  padding: large_pad;
}

a, a:visited, a:hover, a:active {
  color: white;
}

/* STYLES */

body {
  font-family: 'Maven Pro', sans-serif;
}

header {
  teal_scheme();
}

footer {
  grey_scheme();
  padding: large_pad;
  a, a:visited, a:hover, a:active {
    color: dark_teal;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: tiny_pad 0;
  }
  input {
    margin: 0 auto;
    width: 150px;
  }
  button {
    teal_scheme();
  }
}

nav {
  teal_scheme();
}

/* DOCS */


.desc {
  /* display: none; */
  border: tiny_pad solid dark_grey;
  padding: tiny_pad;
}


.endpoints {
  padding: 0;
  list-style-type: none;
}

.endpoint_title {
  h3 {
    margin: 0;
    padding: small_pad;
  }
  display: block;
  background: dark_grey;
  color: white;
}

.example {
  padding: small_pad;
  div {
    margin: small_pad;
    padding: small_pad;
    background: light_grey;
  }
}
